# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_AKDK_RP2040

config BOARD
    default "akdk_rp2040"

config RP2_FLASH_W25Q080
    default y

endif # BOARD_AKDK_RP2040
